@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* Navigation stuff */

.header {
  z-index: 1;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  width: 100%;
  background-color: black;
  color: white;
}

h3 {
  font-weight: bold;
  display: inline-block;
  margin-right: 0.5em;
  font-size: 1em;
}

.logo {
  transform: translateY(15%);
  display: inline-block;
  background-color: blue;
  height: 1em;
  width: 1em;
}

.nav {
  display: flex;
  position: relative;
}

.nav__list {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0;
}

.nav__item {
  list-style: none;
  display: inline-flex;
}

.nav__link {
  font-size: 0.75em;
  display: inline-block;
  padding: 1em;
  color: white;
  text-decoration: none;
  text-align: center;
}

.nav__link:hover {
  color: blue;
}

.nav__link:active {
  color: white;
}

.burger {
  width: 16px;
  height: 16px;
  display: inline-flex;
  justify-content: space-around;
  flex-direction: column;
  display: none;
  cursor: pointer;
}

.burger__line {
  height: 2px;
  width: 100%;
}

.close {
  width: 16px;
  height: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
  display: none;
}

.close__line {
  height: 2px;
  width: 100%;
  position: absolute;
}

.burger__line,
.close__line {
  background: white;
}

.close__line:first-child {
  transform: rotate(45deg);
}

.close__line:last-child {
  transform: rotate(-45deg);
}

.nav__list--hidden {
  animation: fade-out-navigation 0.5s ease-in-out forwards;
}

.nav__list--active {
  animation: fade-in-navigation 0.5s ease-in-out forwards;
}

.terms {
  height: 300px;
  width: 600px;
  border: 1px solid #ccc;
  font-size: 13px;
  overflow: auto;
}

.strike {
  text-decoration: line-through;
}

.strike + .price,
.blue {
  color: blue;
}

@media screen and (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: none;
  }

  .nav__list {
    font-size: 1.5em;
    justify-content: center;
    flex-direction: column;
  }

  .nav__item {
    justify-content: center;
  }

  .nav__link {
    width: 100%;
  }

  .burger {
    display: inline-flex;
  }

  .terms {
    height: 300px;
    width: 300px;
    border: 1px solid #ccc;
    font-size: 13px;
    overflow: auto;
  }
}

@media screen and (min-width: 769px) {
  .nav {
    display: flex !important;
    animation: none !important;
  }
  .close {
    display: none !important;
  }
}

@keyframes fade-in-navigation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out-navigation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* End of navigation stuff */
/* Contents */

@media print {
  .header {
    display: none;
  }

  .main-coll {
    margin-top: 10vh !important;
  }

  .banner,
  .logo {
    -webkit-print-color-adjust: exact;
  }
}

.main-coll {
  width: 100%;
  margin-top: 15vh;
  margin-bottom: 7.5vh;
  text-align: center;
}

.banner {
  text-align: center;
  background-color: black;
  color: blue;
  font-size: 2em;
  font-weight: bold;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Product grid */

.rcb {
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 330px;
  min-height: 200px;
  width: 100%;
  height: auto;
  padding: 15px;
  position: relative;
}

.rcb-cmp-list {
  display: flex;
  flex-wrap: wrap;

  position: relative;
}
.rcb-cmp-item {
  text-align: center;

  flex: 1 1 176px;

  min-width: 176px;
  min-height: auto;
  max-width: 100vh;
  max-height: 100vh;
  margin: 2.5vw;

  overflow: hidden;

  box-shadow: 0px 4px 9px rgba(42, 47, 57, 0.2);
  transition: all 75ms ease;

  position: relative;
}
.rcb-cmp-item img {
  display: block;
  min-width: 100%;
  max-width: 100%;
}

.rcb-cmp-item:hover {
  box-shadow: 0px 4px 9px rgba(42, 47, 57, 0.5);
  transform: scale(1.025);
}

/* End of product grid */

#main {
  max-width: 1024px;
  margin: 0 auto;
}

.price {
  font-weight: bold;
  margin-bottom: 10px;
}

.product-name {
  margin-top: 20px;
}

.content,
.forms {
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 5%;
}

.about-header {
  font-weight: bold;
  font-size: 25px;
}

.container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
  cursor: pointer;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark-radio {
  border-radius: 50%;
}

.checkmark-radio,
.checkmark-checkbox {
  position: absolute;
  top: 1px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}

.container:hover input ~ .checkmark-radio {
  background-color: #ccc;
}

.container input:checked ~ .checkmark-radio {
  background-color: blue;
}

.container:hover input ~ .checkmark-checkbox {
  background-color: #ccc;
}

.container input:checked ~ .checkmark-checkbox {
  background-color: blue;
}

.button {
  background-color: blue;
  margin-right: 10px;
  height: 40px;
  width: 90px;
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.button:hover {
  background-color: #00008b;
}

.input-text {
  border: 1px solid #ccc;
}

.select {
  margin-bottom: 20px;
  height: 40px;
  width: 150px;
}

#remove {
  width: 140px;
}

#cart {
  margin-top: 20px;
  border-collapse: collapse;
}

#cart th,
#cart td {
  text-align: center;
  height: 30px;
  width: 150px;
}

#cart {
  border: 2px solid blue;
}

.head {
  background-color: blue;
  color: white;
}
